<%- include("partials/header.ejs") %> 
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h1>Pode perguntar !!!!</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Titulo</label>
                    <input type="text" class="form-control" name="titulo" placeholder="Pergunta">
                    <label>Descrição</label>
                    <textarea class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button .>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer.ejs"); %>